<div class="container-fluid">
  <div class="row m-4">
    <input
      type="text"
      [(ngModel)]="inpFileName"
      placeholder="File Name"
      class="m-4"
      [ngClass]="{ 'border border-danger': hasError }"
    />
    <div *ngFor="let input of arraysType" class="m-4" class="col-12">
      <div class="row">
        <input
          type="text"
          class="form-control"
          class="my-1 mx-2 col-4"
          placeholder="name"
          [value]="input.name"
          (input)="input.name = $event.target.value"
        />
        <input
          type="text"
          class="form-control"
          class="my-1 col-4"
          placeholder="type"
          [value]="input.type"
          (input)="input.type = $event.target.value"
        />
        <div class="col-1">
          <label>Required</label>
          <input
            type="checkbox"
            [value]="input.required"
            (input)="input.required = $event.target.checked"
            id="require"
          />
        </div>
      </div>
    </div>

    <button (click)="handleAddInput()" class="btn btn-primary my-1 mx-2 ">
      Add
    </button>
    <button
      (click)="handleRemoveInput()"
      class="btn btn-danger my-1 mx-2 rounded"
    >
      X
    </button>
    <a
      [href]="fileUrl"
      download="{{ inpFileName }}.js"
      (click)="handleSubmitModel()"
      class="btn btn-primary my-1 mx-2 "
      >Download Model</a
    >

    <a
      [href]="fileUrl"
      download="{{ inpFileName }}Controller.js"
      (click)="handleSubmitController()"
      class="btn btn-primary my-1 mx-2 "
      >Download Controller</a
    >
  </div>
</div>
